﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content runat="server" ID="FeaturedContent" ContentPlaceHolderID="FeaturedContent">
 
</asp:Content>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
     <h1>State Pages</h1>

    <div id="map" style="width: 100%"></div>
    <%--<img class="legend" src="Images/legend.png" alt="Map Legend" />--%>
 <script src="scripts/mapdata.js"></script>
    <script src="scripts/usmap.js"></script>
</asp:Content>