﻿html {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
	 
}

body {
  background-color: #353338;
  border-top: solid 10px #373232;
  color: #333;
  font-size: .85em;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  margin: -10px 0 0 0;
  padding: 0;
  height: 100%;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

a:hover {
        color: #1D35F2;
    } 

.backLink {
    
  
    padding-left:575px;
      
}


/*.fileupload {
    width:395px;
}*/


header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
      padding-top: 80px
  
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color:  #A67F4A;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-content h1 {
  font-size: 3em;
  color: rgb(93, 112, 173);
  text-transform: uppercase;
}

h2 {
    font-size: 1.75em;
}

.main-content h2{
	font-size: 2.2em;
}

h3 {
    font-size: 1.2em;
	color: #6797BA;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #a9d1f2;
}

#body {
    background-color: #ffffff;
    clear: both;
    padding-bottom: 35px;
	width: 1200px;
     margin: auto;
}

.main-content {
  background: url("../Images/accent.png") no-repeat;
  padding: 120px;
  padding-top: 50px;
  min-height: 447px;
}

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}
    
footer {
  clear: both;
  background-color: #a9d1f2;
  font-size: .8em;
  height: 100px;
  width: 1200px;
  margin: auto;
  background-image: url("../Images/houses9.png");
  background-repeat: no-repeat;
    background-position: 403px;
}

footer p{
	padding:40px;
}



/* site title
----------------------------------------------------------*/
/*.site-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.9em;
  
  position: absolute;
  top: 180px;
  padding-left:150px;
  padding-top: 20px; 
  float: right;
  left: -116px;
   
}*/

.site-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.9em;
  position: absolute;
  top: 175px;
  padding-left: 217px;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: white;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
  display: block;
  font-size: 1.3em;
  padding-top: 2px;
  margin: -24px 0 2px;
  text-align: right;
  background: none;
  color: white;
  text-decoration: none;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }
	
	#login a:hover{
		background-color: #BD945C;
	}

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
    float:left;
    width:700px;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 0px;
           padding-right: 25px;
    }

        ul#menu li a {
            background: none;
            color: white;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: white;
        
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
    color: #000000;
}

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }

    label.checkbox {
        display: inline;
    }

    input, textarea,select {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
           
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }
	
	 input[type="submit"].printme{
        background-color: transparent !important;
    }

    td input[type="submit"],
    td input[type="button"],
    td button, .matrices a {
        font-size: 1em;
      margin-right: 4px;
	  padding: 3px 18px;
	  margin-right: 4px;
	  text-transform: uppercase;
	  background-color: rgb(166, 127, 74);
	  color: white;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* ---------------------------------*/


 .formLayout {
    padding: 7px 10px 35px 10px;
    display: block;
    border: thin solid #808080;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: rgb(242, 241, 245);
    border: thin solid #C0C0C0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 5px 20px 5px;
    width: 913px;
}
 
    .formLayout p label, .formLayout p input, .formLayout p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
    padding-left:5px;
     
	/*clear:both;font-size: 90%;*/
}
 
    
 
  
    .formLayout p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1000px;
}	
 
 
   
.formLayout p textbox
{
	margin-left: 320px;
}
.formLayout p select
{
	/*margin-left: 320px;*/
}
.formLayout p table
{
	margin-left: 320px;
}

      .formLayoutExceptions {
    padding: 7px 10px 35px 10px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #FFFFFF;
}


          .formLayoutExceptions p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 750px;
}	
    .formLayoutExceptions p label
{
        width:300px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}

/* tables
----------------------------------------------------------*/
table {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    }


th {
    border-style: none none solid none;
    border-width: 0px 0px medium 0px;
    border-color: inherit;
    font-size: 1.2em;
    text-align: left;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
        
    }

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
        padding: 0;
	}

	th a:hover {
		color: #000;
	}

    th.asc a, th.desc a {
        margin-right: .75em;
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '▲';
	}

	th.desc a:after {
		content: '▼';
	}

td {
    border-style: none none dashed none;
    border-width: 0 0 thin 0;
    padding: 0.25em 2em 0.25em 0em;
    vertical-align: top;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: #C0C0C0;
    border-left-color: inherit;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

/* Resources
=====================================================
*/

.pub {
	position: relative;
	margin: 0;
 	padding: 0;
}

.pub img.left {
	width: 50px;
	height: auto;
	position: relative;
	padding: 0;
 	margin: 0px 10px 0px 0px;
	background-color: #FFFFFF;
}
	
.pub li {
	width: auto;
	height: auto;
	position: relative;
	margin: 7px 0px; 
	list-style: none;
	clear: both;
/*	border-bottom: 1px dotted red;*/

}

.pub li a { 
	color: #2E71B8;
   	font-weight: bold;
 }
 
.pub li a:hover, a:active { 
	color:#0ac222;
   	font-weight: inherit;
	cursor:pointer;
 }
 
.pub li div { 
	display: none; 
}

.expand {
	position: relative;
	padding: 7px 0 13px 0px;
	border-bottom: 1px dotted #2B353F;
}

.expand p{
	margin: 0;
	padding-left: 65px;
	position: relative;
}

.pub .expand a {
	color: #2E71B8;
	font-weight: normal;
}
.pub .expand a:hover {
	color: #0ac222;
	font-weight: normal;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
        margin: 0;
        color: #FFFFFF;
    }
}
/* END: Mobile Styles */

.etacFx table, .etacTbl {
	width: 98%;
	margin-top: 20px;
	border-collapse: collapse;
	border-bottom: 0 solid #b2e242 !important;
}

.etacFx td, .etacFx th, .etacTbl td{
	padding: 19px;
	vertical-align: top;
}
.etacTbl th {
	padding: 6px;
	vertical-align: bottom;
}
/*.sortasc 
 {
    background: url(../images/downarrow.png) right no-repeat;
    display:block;
    padding:0,25px,0,5px;
 }

.sortdesc 
{
      background: url(../images/Uparrow.png) right no-repeat;
       display:block;
    padding:0,25px,0,5px;
}*/





.etacTbl th a, .etacTbl th a:visited {
	color:#FFF !important;
}


.etacFx td, .etacTbl td {
	border-bottom: 1px solid #cedaf0;
	border-left: 1px solid #cedaf0;
	border-right: 1px solid #cedaf0;
}

.etacTbl th, .etacFx td strong, th {
  background: #87B7D9;
  color: #FFFFFF;
  text-align: left;
	border-bottom: 0 solid #b2e242;
	border-top: 0 solid #b2e242;
	padding:0px;  /* changed from 10 to 0*/
}


tr.etacTblsub th {
	background: #455668;
	border-bottom: 0 solid #b2e242 !important;
	vertical-align: bottom;
}

tr.ageSub td {
	border-bottom: 1px dashed #E0E5EF;
}

th.blank, tr.etacTblsub th.blank {
	background: none;
	border: none;
}



td.first {
	font-weight: bold;
	color: #26303a;
}

tfoot td p {
	margin-top: 6px;
	color: #666;
	font-size: .9em;
	padding-left: 6px;
}

/*  MAP  */

#map {
  margin-left: 135px;
  padding: 70px 40px 0px 0;
}

.top-header {
  padding: 61px 0 33px 75px;
}

.content-header {
  background-image: url("../Images/houses9.png");
  background-repeat: no-repeat;
  background-position: 100% -8%;
}

nav {
    background-color: #7587BF;
  padding: 27px 87px 8px 87px;
}

.top-nav {
	border:solid blue;
	
}

.head-bottom{
	border:solid yellow;
}

a#lnkAlldownloads, a#LinAdmin{
background: none;
  color: white;
  text-decoration: none;
}

#MainContent_Label1{
	position:relative;
	z-index:10;
}

.logo {
  text-align: left;
  position: relative;
  top: -10px;
  border:solid 0;
}

#login a, a#MainContent_lnkBack, input[type="submit"] {
  font-size: .9em;
  text-align: right;
  padding: 1px 29px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-decoration: none;
  border: solid 1px;
  text-transform: uppercase;
  margin-left: 15px;
  background-color: #5D70AD;
  white-space:nowrap;

}

a#MainContent_lnkBack, input [type="submit"]{
	font-size: 1.2em;
	border: 2px solid black;
}

a#MainContent_lnkBack {
  position: relative;
  top: -105px;
}

#print .printme {
	background-color:none !important;
}

#print .printme:hover {
	background-color:none !important;
}

/*a#MainContent_lnkBack:before{
	content: "< ";
	position:relative;
	top:-1px;
	left:-10px;
	padding: 1px;
	  background-image: url(../Images/back.png);
  background-repeat: no-repeat;
  background-color: inherit !important;
  height: 115px;
  width: 85px;
  border: 0 !important;
}*/


/*, a:hover.cancelButton, #MainContent_GridView1 a:hover*/

a:hover#MainContent_lnkBack, input:hover[type="submit"], .matrices a:hover {
	background-color:#C99920;
}

/*, #MainContent_GridView1 a, a.cancelButton*/

input[type="submit"], .matrices a{
	  padding: 7px 28px;
	  border:2px solid black;
	  text-decoration:none;
}

.matrices table tr td{
	font-size:	1.5em;
}

.martices th{
	font-size:inherit
}

.matrices a{
	  padding: 1px 28px;
	  font-size: .9em;
}

/*.col1 h2:before{
  content: "";
  display: block;
  background-image: url("../Images/document_icon.png");
  width: 150px;
  height: 150px;
  position: relative;
  left: 64px;
} 

.col2 h2:before{
  content: "";
  display: block;
  background-image: url("../Images/workbooks_icon.png");
  width: 150px;
  height: 150px;
  position: relative;
  left: 64px;
}
.col3 h2:before{
  content: "";
  display: block;
  background-image: url("../Images/action_icon.png");
  width: 150px;
  height: 150px;
  position: relative;
  left: 64px;
}*/


.columns3 a:visted {
	
}

.fademe {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.colx {
  float: left;
  width: 22%;
  padding-left: 59px;
  text-align:center;
}

.colx h2 {
  font-size: 1.75em;
    text-decoration: none !important;

}

.colx h2:hover {
	
	  color:#D5BD44;
}

.colx a:hover {
	  color:#D5BD44;
}

.colx p {
	height:70px;
}

.columns3 {
  margin: 92px 0 0 -60px;
}

#MainContent_ButbtnPremon{
	padding: 5px 21px 5px 20px;
}

#tt_name_sm {
  color: #B8ADAD !important;
  font-size: 1.5em !important;
  font-style: italic;
}

.legend{
	position:relative;
	top:-200px;
}

.colx a:hover{
	text-decoration:underline;
}

.premonitoring {
  position: relative;
  top: 20px;
}

.colx a, .colx a img, .colx img {
  text-decoration: none;
  border: 0 solid white;
  margin: 0;
  padding: 0;
  background-color:#fff;
}

/*
img.fade {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

img.fade:hover {
    opacity: 0.6;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

img.rotate {
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
overflow:hidden;
}

img.rotate:hover {
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}​*/

@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}

img.rotate:hover
{
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 100ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

td, tr, table {
  border-width: 0 0 1px 0 !important;
  border-style: dashed !important;
}

table{
	margin-bottom:50px;
}

.matrices th {
  padding-left: 25px;
  text-align: left;
}

#tt_name_sm {
  position: relative;
  display: block;
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  background: #366DED;
  padding: 9px 0;
  text-indent: 9px;
  width: 100%;
  z-index: 999;
  color: #fff !important;
  border-radius: 3px 3px 0 0;
  /* text-shadow: 0px -1px 0px #333; */
  margin-bottom: .4em;
  width:300px;
}

#tt_name_sm a{
	float:right;
	padding-right:40px;
	color:#EBE5E5;
	font-weight:200;
}

#tt_sm {
  width: 300px;
}

#xmark_sm {
  position: absolute;
  top: 23px;
  right: 13px;
  display: block;
  height: 15px;
  float: right;
  margin: 0px;
  color: #0053A0;
  cursor: pointer;
  z-index: 99999;
  background-color: white;
}

#tt_title_sm {
	padding-right:40px;
}

#tt_sm a.pre {
  background: url(../Images/document_icon_sm.png) no-repeat;
  height: 47px !important;
  width: 32px;
  padding: 6px 45px 7px 40px;
  font-size: 1.3em;
}

#tt_sm a.action {
  background: url(../Images/action_icon_sm.png) no-repeat;
  height: 47px !important;
  width: 32px;
  padding: 6px 45px 7px 40px;
  font-size: 1.3em;
}

#tt_sm a.data {
  background: url(../Images/workbooks_icon_sm.png) no-repeat;
  height: 47px !important;
  width: 32px;
  padding: 6px 45px 7px 40px;
  font-size: 1.3em;
}

#tt_sm a{
	height:32px;
}

.etacTbl th a:before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 21px;
  background: transparent url('../Images/up-down-arrow.png') no-repeat 3px 4px;
  position: relative;
  top: 3px;
}

.etacTbl th a:hover {
  color: #E8E3CD !important;
}

.printme {
  background-image: url(../Images/print.png);
  background-repeat: no-repeat;
  background-position: top; 
  background-color: inherit !important;
  height: 66px;
  width: 85px;
  border: 0 !important;
  /*line-height: 3000;*/
}

.printme:hover {
  background-position: bottom;
}

#MainContent_lnkBack {
	  background-image: url(../Images/back.png);
	  background-repeat: no-repeat;
	  background-position: top;
	  background-color: inherit !important;
	  height: 30px !important;
      display: block;
	  border: 0 !important;
	  position: relative !important;
	  left: 200px;
	  top: -23px !important;
}

#MainContent_lnkBack:hover {
  background-position: bottom;
}

/*
#MainContent_lnkBack{
  background-image: url(../Images/back.png);
  background-repeat: no-repeat;
  background-color: inherit !important;
  height: 115px;
  width: 85px;
  border: 0;
} */

#MainContent_btnDataWork, #MainContent_StateAction{
	background-color:rgb(166, 127, 74);
}

#MainContent_btnDataWork:hover, #MainContent_StateAction:hover{
	background-color:#B89631;
}


/* Pop */
@-webkit-keyframes hvr-pop {
  20% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pop {
  20% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#tt_sm{
	width: 250px !important;
}


#tt_name_sm{
	width:300px !important;
}

.imagep {
    padding-left: 250px;
}
